<!DOCTYPE html>
<html>
  <body>


  	<!--
  	<form action="/get_stock/">
    <button name="get_stock" type="submit">get stock</button>
    <label for="name">Name (4 to 8 characters):</label>
	<input type="text" id="name" name="name" required minlength="4" maxlength="8" size="10" />
	</form>
	!-->

	  <form action="/get_stock/" method="POST">
    <label for="fname">stock name: </label>
    <input type="text" id="fname" name="fname"><br><br>
    <input type="submit" value="search">
    </form>

  </body>
</html>